In [9]:
from os import listdir
from os.path import isfile, join

path = '../data/scraped/'
onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]
onlyfiles

['disco-8_platino$au.csv',
 'disco-4_platino$dk.csv',
 'disco-oro$usa.csv',
 'disco-3_platino$au.csv',
 'disco-4_platino$uk.csv',
 'disco-6_platino$can.csv',
 'disco-4_platino$au.csv',
 'disco-9_platino$can.csv',
 'disco-1_platino$can.csv',
 'disco-4_platino$usa.csv',
 'disco-7_platino$can.csv',
 'disco-oro$can.csv',
 'disco-6_platino$usa.csv',
 'disco-oro$it.csv',
 'disco-oro$dk.csv',
 'disco-3_platino$dk.csv',
 'disco-5_platino$it.csv',
 'disco-1_platino$dk.csv',
 'disco-8_platino$uk.csv',
 'disco-8_platino$can.csv',
 'disco-1_platino$uk.csv',
 'disco-7_platino$it.csv',
 'disco-2_platino$au.csv',
 'disco-7_platino$usa.csv',
 'disco-3_platino$it.csv',
 'disco-6_platino$dk.csv',
 'disco-2_platino$it.csv',
 'disco-9_platino$usa.csv',
 'disco-1_platino$it.csv',
 'disco-5_platino$uk.csv',
 'disco-oro$au.csv',
 'disco-8_platino$it.csv',
 'disco-2_platino$uk.csv',
 'disco-5_platino$can.csv',
 'disco-3_platino$usa.csv',
 'disco-2_platino$can.csv',
 'disco-3_platino$uk.csv',
 'disco-8_platino$usa.csv',
 'disco-9_platino$it.csv',
 'disco-5_platino$usa.csv',
 'disco-6_platino$au.csv',
 'disco-9_platino$au.csv',
 'disco-7_platino$au.csv',
 'disco-5_platino$au.csv',
 'disco-oro$uk.csv',
 'disco-3_platino$can.csv',
 'disco-4_platino$it.csv',
 'disco-2_platino$usa.csv',
 'disco-2_platino$dk.csv',
 'disco-6_platino$it.csv',
 'disco-1_platino$usa.csv',
 'disco-6_platino$uk.csv',
 'disco-4_platino$can.csv',
 'disco-5_platino$dk.csv',
 'disco-9_platino$uk.csv',
 'disco-1_platino$au.csv']

In [57]:
import pandas as pd
dfs = [pd.read_csv(path + f) for f in onlyfiles]

df_out = pd.DataFrame(data=[], columns=dfs[0].columns)
for df in dfs:
    df_out = df_out.append(df)
df_out = df_out.drop_duplicates(subset=['title', 'artists', 'duration'])
df_out

,title,artists,date,duration,genre,award,nation
0,Sex on Fire,Kings of Leon,5 settembre 2008,3:23,Rock alternativo,8_platino,au
1,Wonderwall,Oasis,30 ottobre 1995,4:19,"Britpop,,Rock alternativo",8_platino,au
2,Someone You Loved,Lewis Capaldi,8 novembre 2018,3:02,Ballata,8_platino,au
3,Dark Horse,Katy Perry,17 dicembre 2013,3:35,"Trap,,Grime",8_platino,au
4,Sicko Mode,Travis Scott,21 agosto 2018,5:12,Hip hop,8_platino,au
...,...,...,...,...,...,...,...
595,Turn off the Light,Nelly Furtado,14 agosto 2001 25 settembre 2001,4:36,Trip hop,1_platino,au
605,Waiting for Tonight,Jennifer Lopez,16 novembre 1999,4:06,"Dance pop,,Pop latino,,Electronic dance music,...",1_platino,au
613,Violet Hill,Coldplay,9 maggio 2008,3:49,Rock alternativo,1_platino,au
633,Whataya Want From Me,Adam Lambert,20 novembre 2009 (USA) 19 gennaio 2010 (Italia),3:46,"Pop rock,,Synth pop",1_platino,au
645,You Found Me,The Fray,21 novembre 2008 23 novembre 24 novembre ...,4:04,Rock alternativo,1_platino,au

In [60]:
import csv

path = '../data/awards.csv'
df_out.to_csv(path, index=False, quoting=csv.QUOTE_ALL, quotechar='"')